.nav {
  position: sticky;
  @include mobile {
    height: 60px;
  }
  @include desktop {
    height: 80px;
  }
  &__logo-container {
    position: absolute;
    height: 35px;
    @include mobile {
      width: 35px;
      top: 20px;
      left: 20px;
      left: 5%;
    }
    @include desktop {
      width: 130px;
      left: 70px;
      top: 40px;
    }
  }
  &__logo {
    // display: inline-block;
  }
  &__company-name {
    // display: inline-block;
    font-family: $poppins-font;
    font-size: 22px;
    height: auto;
    vertical-align: bottom;
    @include mobile {
      display: none;
    }
  }
}